* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.app-container {
  margin: 32px;
}

.app-container > .card-container {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
